*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: white;
}
header{
    background-color: rgb(17, 104, 180);
}
nav{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
}
.hambugre{
    width: 1000px;
    font-size: 1000px;
    height: 1000px;
}
.klc{
    display: flex;
    font-style: none;
    list-style: none;
    gap: 70px;
    padding: 20px;
}
.btn1{
    padding: 10px;
    border-radius: 20px;   
    background-color: blue;
    color: white;
    border: none;
}
.A{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 100px 100px
}
.raw{
    font-size: 10px;
}
.he{
    font-size: 70px;
    padding: 20px;
}
.she{
    padding: 10px;
}
.btn2{
    background-color: blue;
    color: white;
    font-size: 20px;
    margin: 100px;
    border-radius: 150px;
    border: none;
    padding: 3%;
}
.b{
    padding: 50px;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
 
}
.you{
       background-color: aquamarine;
}
.you h1{
    padding: 20px;
}
.you p{
    padding: 20px;
}
.br{
    width: 40px;
    margin: 40px 40px;
    background-color: white;

}
.agree {
    margin: 30px;
}
.tab{
    margin-top: 50px;
    margin-bottom: 20px;
}
.agree{
    margin: 50px;
}
.bad{
    padding: 50px;
}
.mix{
    font-size: xx-large;
    color: red;
}
.C{
    display: flex;
    gap: 100px;
    align-items: center;
    margin: 100px 100px;
}
.mix{
    padding: 10px 0px;
}
header :hover{
    background-color: black
}
.ovo{
    font-size: xx-large;
}
.ovi{
    font-size: xx-large;
    padding: 15px 0px;
}
.land{
    display: flex;
    justify-content: space-between;
    padding: 70px 70px;
}
.land h1{
    font-size: 40px;
    padding: 40px 40px;
}
.borrow{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}
.we{
    display: flex;
    justify-content: space-evenly;
}
.e{
    margin: 70px 40px;
}  
.e h1 {
    padding: 50px 0px;
    font-size: 50px;
}
.push{
    border-style: groove;
    border-color: brown
}
.o{
    margin: 40px 20px;
}
.m{
    padding: 0px 20px;
}
.ear{
    display: flex;
    margin: 40px 20px;
    align-items: center;
    gap: 40px;
}
.F{
    padding: 150px 0px;
    justify-items: center;
}
.top{
    font-size: xx-large;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 20px 0px;
    gap: 90px;
}
form input{   
   width: 100px;
   height: 30px ;
}
form select{
    width: 100px;
    height: 50px ;
}
form .op{
    width: 100px;
    height: 50px ;
}

.shift{
    justify-items: center;
    margin: 50px 0px;
}
   
.shift h1{
    padding: 20px 0px;
}
.root{
    padding: 20px 0px;
    font-size: xx-large;
}
.loop{   
     font-size: xx-large;  
}
.FORMSY{
    font-size: larger;
}
.btn5{
    display: flex;
    justify-content: center;
    width: 200nopx;
    height: 50px;
     background-color: blue;
    color: white;
    align-items: center;
    font-size: 30px;
}
@media(max-width: 950px)
{
*{
    padding: 0px;
    margin: 0px;
}
.klc{
    display: none;
    position: absolute;
    right: 0px;
    box-shadow: 0 5px 10px rgba(0, 0,0, 0.2);
    padding: 50px 20px;
    transition: right 5s ease-out;
    margin: 60px 0px;
    font-size: xx-large;
    background-color: white;
}
.klc :active{
    right: 0px;
}

.A{
    display: block;
}

.root{
  display: block; 
  font-size: 20px; 
}
.she{
     line-height: 20px;
}
.live{
   display: block;
   width: 300px;
   margin: 20 0px ;
}
.he{
    font-size:xx-large;
}
.you{
     margin-top: 30px;
}
.b{
    display: block;
    ;
}
}